/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Lato&display=swap');;

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: #67442E;
    background-color: #C6EFF4;
    text-align: justify;
}

a:visited {
    color: inherit;
}

a.active {
    background: none;
}

/* Heading and navigation menu*/
h1, h2, h3, #menu {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #345579;
    letter-spacing: 5px;
    font-size: 1.5em;
}

#logo {
    width: 100%;
    height: auto;
    font-size: 5vw;
    margin-top: 20px;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu {
    margin-bottom: 20px;
    float: right;
}

#menu a {
    margin-right: 10px;
}

#menu a:hover {
    font-size: 1.25em;
    color: #77335D;
}

.mobile-menu {
    display: none;
}

/* Hero Image Stylying */
#hero-out {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url(../images/quest-hero-image.jpeg) no-repeat center center;
    height: 800px;
    width: 100%;
    background-size: 100%;
}

/* Quick Bottom Links */
.bottom-link {
    display: inline-block;
    border-radius: 4px;
    background-color: #80C40B;
    border: none;
    color: #14202E;
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bottom-link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.bottom-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.bottom-link:hover span {
    padding-right: 25px;
  }
  
.bottom-link:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Footer */
footer {
    position: static;
    width: 100%;
    height: auto;
  }

  .social-media {
    text-align: justify;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 0px;

}

.social-media li {
    padding-right: 1em;
}

.social-media i {
    margin: 1%;
    padding: 1%;
    list-style-type: none;
}

/* Lessons Page */
.lesson {
    background-color: #273FC6;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .lesson:hover {
    background-color: #C227C6;
}
  
.sub-lesson {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #C3BFC3;
}

.sub-lesson img {
    width: auto;
    height: auto;
}

.image-box {
    float: left;
    max-width: 45%;
}

.text-content {
    float: right;
    max-width: 45%;
}

/* Quiz page */
.quiz-tab {
    overflow: hidden;
    background: #C227C6;
}

.quiz-tab button {
    background: inherit;
    float: left;
    transition: 0.2s;
    border: 1px solid;
    width: auto;
    padding: 15px;
    margin: 0, 10px;
    font-size: 1.2rem;
}

.quiz-data {
    display: none;
    background: #C3BFC3;
    padding: 10px;
    border: 1px solid #67442E;
    font: #67442E;
}

.btn-look {
    border-radius: 4px;
    background-color: #80C40B;
    border: none;
    color: #14202E;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    width: 200px;
    margin: 5px;
}

/* Contact Us page */
#contactus-out {
    height: auto;
    max-width: 100%;
    position: relative;
}

#contactus-image {
    background: url(../images/lighbulb-question.jpeg) no-repeat center center;
    margin-top: 40px;
    height: 800px;
    width: 100%;
    background-size: cover;
}

#contactus-cover {
    font-size: 100%;
    text-align: justify;

    width: 100%;
    height: auto;

    background-color: rgba(197, 208, 215, 0.7);
    color: #0F0C00;

    top: 350px;
    background-position: center;
    position: absolute;
}

#top-section {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
}

#contactus-form {
    height: auto;
    text-align: center;
    list-style-type: none;
}

#contactus-form textarea {
    background: transparent;
    font: inherit;
    width: 50%;
    height: 90px;
    margin: 5px 0 10px 0;
    overflow: auto;
    border: 1px solid rgba(41, 0, 1, 1);
    border-radius: 5px;
    opacity: 1;
}

#large {
    height: 120px;
    overflow: auto;
}

#contactus-form ul {
    padding-left: 0 !Important;
}

#contactus-form li label{
    font-weight: bold;
    color: inherit;
}

#contactus-form li input {
    border: 1px solid rgba(41, 0, 1, 1);
}

.text-input:hover {
    border-color: #704848;
}

#submit-button {
    font-family: inherit;
    border: 3px double #704848;
    background-color: #80C40B;
    font-size: 1.25rem;
    margin-top: 10px;
}

#submit-button:hover {
    font-size: 1.45rem;
    background-color: #6A8698;
    border: 3px double #704848;
}

/* 404 Error Page */
#error-out {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: absolute;
    
    margin-top: 250px;
    height: 600px;
}

#error-text {
    font-size: 100%;
    font-family: inherit;
    letter-spacing: 2px;
    text-align: center;

    width: auto;
    height: 100%;

    padding: 10px;
    
    background-color: rgba(197,214,201,0.6);
    color: inherit;

    top: auto;
    right: auto;
    
    position: relative;
}

#error-text h2 {
    font-size: 4rem;
    height: 100px;
}

#error-text p {
    height: 75px;
}

#error-text img {
    height: auto;
    max-width: 100%;
}