/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Lato&display=swap');;

/* General */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    color: #40515B;
    background-color: #AE9C84;
    text-align: justify;
}

/* Heading and navigation menu*/
h1, h2, h3, #menu {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #40515B;
    letter-spacing: 5px;
    font-size: 1.5em;
}

#logo {
    width: 100%;
    height: auto;
    font-size: 5vw;
    margin-top: 20px;
    text-align: center;
    line-height: 4px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu {
    margin-bottom: 20px;
    float: right;
}

#menu a {
    margin-right: 10px;
}

#menu a:hover {
    font-size: 1em;
}

/* Hero Image Stylying */
#hero-out {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url(../images/quest-hero-image.jpg) no-repeat center center;
    height: 800px;
    width: 100%;
    background-size: 100%;
}

/* Quick Bottom Links */
.bottom-link {
    display: inline-block;
    border-radius: 4px;
    background-color: #485970;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bottom-link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.bottom-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.bottom-link:hover span {
    padding-right: 25px;
  }
  
.bottom-link:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Footer */
footer {
    position: static;
    width: 100%;
    height: auto;
  }

  .social-media {
    text-align: justify;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 0px;

}

.social-media li {
    padding-right: 1em;
}

.social-media i {
    margin: 1%;
    padding: 1%;
    list-style-type: none;
}

/* Lessons Page */
.lesson {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .lesson:hover {
    background-color: #555;
}
  
.sub-lesson {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.sub-lesson img {
    width: auto;
    height: auto;
}

.image-box {
    float: left;
    max-width: 45%;
}

.text-content {
    float: right;
    max-width: 45%;
}

/* 404 Error Page */
#error-out {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: absolute;
    
    margin-top: 250px;
    height: 600px;
}

#error-text {
    font-size: 100%;
    font-family: inherit;
    letter-spacing: 2px;
    text-align: center;

    width: auto;
    height: 100%;

    padding: 10px;
    
    background-color: rgba(197,214,201,0.6);
    color: #0F0C00;

    top: auto;
    right: auto;
    
    position: relative;
}

#error-text h2 {
    font-size: 4rem;
    height: 100px;
}

#error-text p {
    height: 75px;
}

#error-text img {
    height: auto;
    max-width: 100%;
}